h1 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
}

.booking-card {
  background: #fafafa; /* Very faint gray */
  border: 1px solid #eeeeee;
  border-radius: 12px;
  
}

.design{
    background: linear-gradient(45deg, #059074 0%, #06c1da 100%);
    color:white;
}